@import './base.css';

.context-menu-item {
  padding: 0.5rem;
}
.context-menu-item:hover {
  cursor: pointer;
  background-color: var(--background-color);
}
.btn {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
}
.green-btn {
  border: solid 1px var(--light-green);
  background-color: var(--light-green);
  color: var(--white);
}
.green-btn:hover {
  background-color: var(--light-green-80);
}
.black-btn {
}
.red-btn {
}
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
*/
