@import './base.css';

.context-menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.2rem;
  color: var(--text-color);
  white-space: nowrap;
}
.context-menu-item:hover {
  cursor: pointer;
  background-color: var(--background-color);
}
.btn {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
}
.green-btn {
  border: solid 2px var(--light-green);
  background-color: var(--light-green);
  color: var(--white);
}
.green-btn:disabled,
.green-btn:hover:disabled {
  border: solid 2px var(--light-green-50);
  background-color: var(--light-green-50);
  cursor: auto;
}
.green-btn:hover {
  background-color: var(--light-green-80);
}
.black-btn {
  border: solid 2px var(--gray);
}
.black-btn:hover {
  background-color: var(--background-color);
}
/* .red-btn {
} */

.loading-icon {
  font-size: 2.5rem;
  color: var(--light-gray);
}
.no-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#app {
  overflow: hidden;
}
