@import './base.css';

.context-menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.2rem;
  color: var(--text-color);
  white-space: nowrap;
}
.context-menu-item:hover {
  cursor: pointer;
  background-color: var(--background-color);
}
.btn {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
}
.green-btn {
  border: solid 2px var(--light-green);
  background-color: var(--light-green);
  color: var(--white);
}
.green-btn:disabled,
.green-btn:hover:disabled {
  border: solid 2px var(--light-green-50);
  background-color: var(--light-green-50);
  cursor: auto;
}
.green-btn:hover {
  background-color: var(--light-green-80);
}
.black-btn {
  border: solid 2px var(--gray);
}
.black-btn:hover {
  background-color: var(--background-color);
}
.loading-icon {
  font-size: 2.5rem;
  color: var(--light-gray);
}
.no-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#app {
  overflow: hidden;
}
.notes-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  height: calc(100vh - var(--navbar-height));
  overflow: auto;
}
/* classes for MyNotes and AllNotes components */
.all-cards-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.all-cards-title {
  font-size: 0.70rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gray);
}

.all-cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 300px); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  /* justify-content: center; */
}
